.navcontent { 
    border-bottom: 1px solid grey;
    box-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.5);
}

.mainviewWrap {
    display: grid;
    grid-template-columns: 0.5fr 2fr ; /*add ths back after vue file testing 0.5fr*/
}

.courselcontent {
    border: 1px solid rgb(190, 17, 17);
}

.card-title {
    color: blue;
}


.footer-container {
    border-top: 1px solid gray;
    background-color: rgb(190, 17, 17);
}