.wikiheadertext {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    margin: 45px auto;
}

.carouseloutter {
    display: flex;
    justify-content: center;
    border: 1px solid rgb(112, 0, 0);
    padding: 10px;
    /* Reminder: Unified dashboard is included in this outer layer */
}

.carouselinner {
    width: 100%;
    border: 1px solid rgb(41, 0, 0);
}

img {
    /* Add image styles here if needed */
}