{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% for file in vue_css_paths %}
        <link rel="stylesheet" href="{% static file %}" />
        {% endfor %}
    </head>
</head>
<body>
    {% block content %}
    {% endblock %}
    <h1>hello</h1>
    {%for file in vue_js_paths%}{% comment "" %}this for loop is what kept my content from showing it cannot go in my contentblock in this base.html file{% endcomment %} 
    <script  src="{% static file %}"></script>   
    {% endfor %}
</body>
</html>


