{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% for file in vue_css_paths %}
        <link rel="stylesheet" href="{% static file %}" />
        {% endfor %}
    </head>
</head>
<body>
    {% block content %}
        {% for file in vue_js_paths %}
        <script type="module"  src="{% static file %}"></script>
        {% endfor %}
    {% endblock %}

</body>
</html>


