{% load static %}
{%block css_files%}  
  <link rel='stylesheet' href={% static "/css/wiki.css"%}>
{%endblock%}
{% comment "" %}grabs this from the block I creted in base dir{% endcomment %}

{%include "nav.html" %}  
{%block content%}
<div class="wikiviewmainwrapper">
    <div>
      <h1 class="wikiheadertext">Wiki Quick Reffrence</h1>
    </div>

    
    <div class="carouseloutter">
        <div class="carouselinner">
          
          {%comment%}RPD{% endcomment %}
          <div class="RPDCariusel">
            <div id="RPDCariuselslider" class="carousel slide" data-bs-touch="false" data-bs-interval="false">
              <div class="carousel-inner">
                <div class="RPDtectiontitle"><h2>RPD</h2></div>
                <div class="carousel-item active">
                  <div class="row">
                    <div class="col">  
                      <img src="/static/imgs/cane1.jfif" class="d-block w-100" alt="...">
                    </div>
                    <div class="col">
                      <img src="/static/imgs/cane1.jfif" class="d-block w-100" alt="...">
                    </div>
                    <div class="col">
                      <img src="/static/imgs/cane1.jfif" class="d-block w-100" alt="...">
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="row">
                    <div class="col">  
                      <img src="/static/imgs/cane2.jfif" class="d-block w-100" alt="...">
                    </div>
                    <div class="col">
                      <img src="/static/imgs/cane2.jfif" class="d-block w-100" alt="...">
                    </div>
                    <div class="col">
                      <img src="/static/imgs/cane2.jfif" class="d-block w-100" alt="...">
                    </div>
                  </div>
                </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#RPDCariuselslider" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#RPDCariuselslider" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>  

        
          {%comment%}IPM{% endcomment %}
          <div class="IPmcarousel">
            <div id="IPMCariuselslider" class="carousel slide" data-bs-touch="false" data-bs-interval="false">
              <div class="carousel-inner">
                <div class="IPMtectiontitle"><h2>IPM</h2></div>
                <div class="carousel-item active">
                  <div class="row">
                    <div class="col">  
                      <img src="/static/imgs/cane1.jfif" class="d-block w-100" alt="...">
                    </div>
                    <div class="col">
                      <img src="/static/imgs/cane1.jfif" class="d-block w-100" alt="...">
                    </div>
                    <div class="col">
                      <img src="/static/imgs/cane1.jfif" class="d-block w-100" alt="...">
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="row">
                    <div class="col">  
                      <img src="/static/imgs/cane3.jfif" class="d-block w-100" alt="...">
                    </div>
                    <div class="col">
                      <img src="/static/imgs/cane3.jfif" class="d-block w-100" alt="...">
                    </div>
                    <div class="col">
                      <img src="/static/imgs/cane3.jfif" class="d-block w-100" alt="...">
                    </div>
                  </div>
                </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#IPMCariuselslider" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#IPMCariuselslider" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>

        </div>
    </div>
</div>
{%endblock%}




      

 
