[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-allauth = "*"
jinja2 = "*"
babel = "*"
markupsafe = "*"
npm = "*"
django-bootstrap-v5 = "*"
djangorestframework = "*"
django-cors-headers = "*"
pip = "*"
install = "*"
channels = "*"
requests = "*"
psycopg2-binary = "*"
celery = "*"

[dev-packages]

[requires]
python_version = "3.12"
