[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-allauth = "*"
jinja2 = "*"
babel = "*"
markupsafe = "*"
npm = "*"
django-bootstrap-v5 = "*"
django-sass = "*"

[dev-packages]

[requires]
python_version = "3.12"
