{%load static%}
{%block css_files%}  
  <link rel='stylesheet' href={% static "/css/carousel.css"%}>
{%endblock%}
<div class="wikiviewmainwrapper">

    <div class="carouseloutter">
        <div class="carouselinner">
          {%comment%}RPD{% endcomment %}
          <div class="RPDcarousel">
            <div id="RPDcarouselslider" class="carousel slide" data-bs-touch="false" data-bs-interval="false">
              <div class="carousel-inner">
                <div class="RPDtectiontitle"><h2>ContentOne</h2></div>
                <div class="carousel-item active">
                  <div class="row">
                    <div class="col">  
                      <img src="/static/imgs/cane1.jfif" class="d-block w-100" alt="...">
                    </div>
                    <div class="col">
                      <img src="/static/imgs/cane1.jfif" class="d-block w-100" alt="...">
                    </div>
                    <div class="col">
                      <img src="/static/imgs/cane1.jfif" class="d-block w-100" alt="...">
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="row">
                    <div class="col">  
                      <img src="/static/imgs/cane2.jfif" class="d-block w-100" alt="...">
                    </div>
                    <div class="col">
                      <img src="/static/imgs/cane2.jfif" class="d-block w-100" alt="...">
                    </div>
                    <div class="col">
                      <img src="/static/imgs/cane2.jfif" class="d-block w-100" alt="...">
                    </div>
                  </div>
                </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#RPDcarouselslider" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#RPDcarouselslider" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>  

        
          {%comment%}ContentTwo{% endcomment %}
          <div class="IPmcarousel">
            <div id="IPMCariuselslider" class="carousel slide" data-bs-touch="false" data-bs-interval="false">
              <div class="carousel-inner">
                <div class="IPMtectiontitle"><h2>ContentTwo</h2></div>
                <div class="carousel-item active">
                  <div class="row">
                    <div class="col">  
                      <img src="/static/imgs/cane1.jfif" class="d-block w-100" alt="...">
                    </div>
                    <div class="col">
                      <img src="/static/imgs/cane1.jfif" class="d-block w-100" alt="...">
                    </div>
                    <div class="col">
                      <img src="/static/imgs/cane1.jfif" class="d-block w-100" alt="...">
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="row">
                    <div class="col">  
                      <img src="/static/imgs/cane3.jfif" class="d-block w-100" alt="...">
                    </div>
                    <div class="col">
                      <img src="/static/imgs/cane3.jfif" class="d-block w-100" alt="...">
                    </div>
                    <div class="col">
                      <img src="/static/imgs/cane3.jfif" class="d-block w-100" alt="...">
                    </div>
                  </div>
                </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#IPMCariuselslider" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#IPMCariuselslider" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
          <div class="third-rotating-info-wrapper">
            <div id="rotatingInfoWrapperThree" class="carousel slide" data-bs-touch="false" data-bs-interval="false">
              <div class="carousel-inner">
                <div class="IPMtectiontitle"><h2>ContentThree</h2></div>
                <div class="carousel-item active">
                  <div class="row">
                    <div class="col">  
                      <img src="/static/imgs/cane1.jfif" class="d-block w-100" alt="...">
                    </div>
                    <div class="col">
                      <img src="/static/imgs/cane1.jfif" class="d-block w-100" alt="...">
                    </div>
                    <div class="col">
                      <img src="/static/imgs/cane1.jfif" class="d-block w-100" alt="...">
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="row">
                    <div class="col">  
                      <img src="/static/imgs/cane3.jfif" class="d-block w-100" alt="...">
                    </div>
                    <div class="col">
                      <img src="/static/imgs/cane3.jfif" class="d-block w-100" alt="...">
                    </div>
                    <div class="col">
                      <img src="/static/imgs/cane3.jfif" class="d-block w-100" alt="...">
                    </div>
                  </div>
                </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#rotatingInfoWrapperThree" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#rotatingInfoWrapperThree" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>

        </div>
    </div>
</div>