body{
    border: 5px solid yellow !important;
}
.navcontent{ 
    border-bottom: 4px solid green !important;
    box-shadow: .5px .5px .5px black transparent;
}

.mainviewWrap{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 50px rgb(119, 0, 255) !important;

    background-color: aqua;
}

.sidebarcontent{ 
    display: grid;
    border: solid 3px purple transparent!important;
}

.courselcontent{
    border: 1px solid red !important;
}

.card-title{
    color: blue !important;
}