
.navcontent{ 
    border-bottom: 1px solid grey ;
    box-shadow: .5px .5px .5px black transparent;
}

.mainviewWrap{
    
    display: grid;
    grid-template-columns: .5fr 2fr .5fr;

}


.courselcontent{
    border: 1px solid rgb(190, 17, 17) ;
}

.card-title{
    color: blue;
}

.footerContent{

 
}

.footer-container{
    border-top: 1px solid gray ;
    background-color: rgb(190, 17, 17);
}