
.wikiheadertext{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    margin: 45px auto;
}

.carouseloutter{
    /* remmember I am also adding in the unified dash board  in this outer layer */
    display: flex ;
    justify-content: center;
    
    border: 1px solid  rgb(112, 0, 0) ;
    padding: 10px;
}


.carouselinner{
    width: 100% ;
    border: 1px solid rgb(41, 0, 0);

    

}



img { 
    
  
    }