.mainheadertext {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid red transparent;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}