.wikiviewmainwrapper{

    display: flex-block;
    align-items: center;
    text-align: center;
    border: 7px solid orangered;
}



.carousel-item.active{
    display: inline;
    justify-items: flex-start;

}
