.wikiviewmainwrapper{
    display: flex-block;
    align-items: center;
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;
    height: 100vh;
    border: 7px solid transparent orangered;
}

.wikiheadertext{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    margin: 45px auto;
}

.carouseloutter{
    margin: 40px auto ;
    border: 3px solid transparent purple ;
}
.carouselinner{
    display: flex;
    justify-content: center;
    margin: 40px auto;
    border: 3px solid red transparent!important;
}

.RPDcarousel{
    width: 50vw ;
    padding: 5px;;
    border: 3px solid green transparent !important;
}


.carousel-item.active{
    display: inline;
    justify-items: flex-start;
}

.img{
 width: 100vw !important;
 height: 10px;;   
}